.logo {
    height: 54px;
    margin-bottom: 5px;
}

.company-name {
    color: #52c41a;
    font-weight: bold;
    margin-left: 10px;
}

.header-right {
    text-align: right;
}

.login-btn {
    margin-right: 10px;
}

.app-header {
    max-width: 1150px;
    margin: auto;
}

.username {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
    color: #007EE5;
}
