<div class="sign-up-form">
    <div class="logo">
            <img src="/assets/images/logo.png"/>
            <p>KIDS CAMP</p>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="email" id="email">
                <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">Email không hợp lệ!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mật khẩu</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input type="password" id="password" formControlName="password">
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Vui lòng nhập mật khẩu!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <label nz-checkbox formControlName="agree">
                    <span>Tôi đã đọc <a>điều khoản</a></span>
                </label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">Đăng kí</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
