:host ::ng-deep .ant-layout-header {
    background-color: #FFF;
    box-shadow: rgba(235, 232, 232, 0.498039) 0px 1px 4px 0px;
}

.app-content {
    max-width: 1150px;
     margin: auto;
    padding-top: 15px;
    margin-top: 64px;
}


:host ::ng-deep .ant-layout {
    background-color: unset;
}

:host ::ng-deep .ant-layout-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
